PORT=3000
# Change this to a long random string in production
SESSION_SECRET=change-me
DATA_DIR=./data
MAX_CONCURRENT_DEPLOYMENTS=3

# Proxmox
PM_API_URL=https://proxmox.example.duckdns.org/
PM_API_TOKEN_ID=root@pam
PM_API_TOKEN_SECRET=change-me
PROXMOX_TARGET_NODE=proxmox
PROXMOX_NETWORK_BRIDGE=vmbr0
PROXMOX_DATASTORE=local-lvm
PROXMOX_TEMPLATE_ID=9200

# phpIPAM
IPAM_ENABLE=true
IPAM_URL=http://10.4.5.66
IPAM_APP_ID=terraform
IPAM_USERNAME=admin
IPAM_PASSWORD=change-me
IPAM_SUBNET_ID=7
